/*BODY*/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 15vh;
}

body {
    background-color: #D3D3D3;
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    margin: 0;
    overflow: auto;
}

strong {
    font-weight: 400;
}

em {
    font-style: italic;
}

a {
    text-decoration: none;
    color: #0c3aa0;
}

/*MENU*/

#menu-div {
    position: sticky;
    top: 0;
    height: 15vh;
    background-color: #FFE600;
}

#menu-title {
    text-align: left;
    padding: .5rem 0 0 .5rem;
    font-size: 1.5rem;
}

#menu-button, .close-menu {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 50px;
  font-size: 2em;
  max-width: 100%;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: #FFE600;
  overflow: hidden;
}

#menu-button:hover, .close-menu:hover {
    color:#0c3aa0; 
    cursor: pointer;
}

#menu-fly {
    display: flex;
    flex-flow: column wrap;
    width: 100vw;
    height: 100vh;
    background-color: #FFE600;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(0, -100vh, 0);
    transition: transform .5s cubic-bezier(.17,.67,.83,.67);
}

#menu-fly.show {
    transform: translate3d(0vw, 0, 0);
}

#menu-fly.show > a {
    display: block;
    text-decoration: none;
    padding: .6rem;
    color: #000000;
}

#menu-fly.show > a:hover {
   font-weight: 400;
}

.github-icon {
    display: inline-block;
    max-width: 35px;
    margin: .4rem;
}

.github-icon:hover {
    opacity: .5;
}

/*SECTION*/

#articles > section {
    min-height: 85vh; 
    padding: .5rem;
    font-size: 1.5rem;
}

/*ARTICLE*/

.article-title {
    font-weight: 400;
    padding: 1rem;
}

.article-p {
    padding: 1rem;
    line-height: 1.8rem;
}

.p--font, #problem-11--title {
    color: #d3d3d3;
}

.article-picture {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    height: auto;
    overflow-x: hidden;
    justify-content: center;
}

.article-picture > * {
    max-width: 100vw;
    object-fit: contain;
}

#problem-2,#problem-5, #problem-9{
    background-color: #FFE600;
}

#problem-11, #problem-12, #problem-13 {
    background-color:#1F2227;
    color: #D3D3D3;
}

#problem-3, #problem-7 {
    background: rgb(211,211,211);
    background: linear-gradient(180deg, rgba(211,211,211,1) 59%, rgba(255,230,0,1) 100%);
}

#problem-4, #problem-8 {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(211,211,211,1) 58%);
}

#problem-6, #problem-10 {
    background-color: #d3d3d3;  
}

